.nav {
 background-color: #be1344;
 display: flex;
 height: 12vh;
 justify-content: flex-end; 
 color: rgb(254, 254, 255);
 
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 
}

.top {
    background-color:#000;
    height: 100vh;
    display:inline-table;
    flex-direction: column;
    
    
}

welcome{
  https://www.google.com
}

.nav > ul> span {
  padding-inline:15px;
  font-size: 20px;
  
}

blackside {
justify-content: center;
}

h1.center {
  color: white;
  text-align: center;
  font-family:'raleway', sans-serif;
  margin-bottom: initial;
  font-size: 70px;
  
}
p.center {
  font-size: 2.5rem;
  color:#be1344;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: inherit;
   
}

div.blackside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  margin: 0 auto;
  
}

.projects-section{
  background-color:#45567d;
  height: 100vh;
  width:inherit;
  padding: 10rem 2rem;
  text-align: center;
  padding-top: 45px;
}

.projects-section > h2{
  display: grid;
  align-items: center; 
  color: #f0f0f0;
  margin: 0 auto 6rem auto;
  justify-content: center;
  
  
}

.projects-tittle{
  max-width:345px;
  border-bottom: 0.2rem solid #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto 3rem;
  
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 4rem; 
max-width: 1100px;
height: 100vh;
}

.projects-image {
width:100%;
}

.btn{
font-size: 1rem;
background-color: #303841;
transition: background 0.3s ease-out;


}

.a{
  text-decoration: #f0f0f0;
}


.contact-section{
  background-color:#303841;
  
  }

  
  .section.contact-section2 > div{
  text-align:center;
  font-family: 'Poppins', sans-serif;
      font-size: 6rem;
      color: #f0f0f0f0;
      margin-bottom: -10px;
  }
  
  .contact2{
    font-style:italic;
    text-align:center;
    color: #f0f0f0f0;
    font-size:1em;
  }
  
  .contact-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  justify-items:center;
  width:100%;
  height:80vh;
  
  }
  
  .contact-section{
    background-color:#303841;
    
    }
    
    
    
    
    .section-header > h2{
    text-align:center;
    font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color: #f0f0f0f0;
         line-height: 0.1rem;
    }
    
    .contact2{
      font-style:italic;
      text-align:center;
      color: #f0f0f0f0;
      font-size:1em;
    }
    
    .contact-section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    justify-items:center;
    width:100%;
    height:80vh;
    padding: 0 2rem;
    
    }

    div.section-header{
      box-sizing: inherit;
      margin: 0;
      padding: 0;
    }


    .contact-details{
      font-size: 1.1rem;
      text-shadow: 2px 2px 1px #1f1f1f;
      transition: transform 0.3s ease-out;
      }
      
      
  .btn {
      display: inline-block;
      padding: 0.6rem 1rem;
      border-radius: 2px;
      color:#f0f0f0f0;
      text-decoration:none; b  
      }
      
  
     

.contact-links{
  display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}
  
    
    